button,
.button {
  display: inline-block;
  background: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    opacity: 0.6;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.button-primary {
  background: $primary;
  color: $primary-contrast-text;

  &:hover:not(:disabled) {
    background: lighten($primary, 5%);
  }
}

.button-secondary {
  background: $secondary;
  color: $text-light;

  &:hover:not(:disabled) {
    background: lighten($secondary, 5%);
  }
}

.button-success {
  background: $success;
  color: $text-light;

  &:hover:not(:disabled) {
    background: lighten($success, 5%);
  }
}

.button-danger {
  background: $danger;
  color: $text-light;

  &:hover:not(:disabled) {
    background: lighten($danger, 5%);
  }
}
