$primary: #6200ee;
$primary-light: lighten($primary, 10%);
$primary-contrast-text: #fafafa;

$secondary: #6c757d;
$secondary-contrast-text: #24292e;

$bg: #fafafa;
$bg-contrast-text: #24292e;
$fg: #F5F7F9;
$fg-contrast-text: #24292e;

$text-dark: #24292e;
$secondary-text-dark: #6a737d;
$text-light: #fafafa;
$secondary-text-light: #afbac5;

$success: #2bac75;
$danger: #dc3545;